:root {
  --main-bg-color: #0d1717;
  --light-green: #38686d;
  --medium-green-color: #255454;
  --darkest-green-color: #2c4a4f;
  --text-color: #f7efea;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-color);
}
body {
  background-color: var(--main-bg-color);
}
header {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 5rem;
  background-color: #bfcfbb;
  backdrop-filter: blur(10px);
  color: black;
  padding: 0.5rem 2rem;
  border-radius: 30px;
  z-index: 1001;
}

.logo {
  font-size: 1.3rem;
  font-weight: 600;
  text-wrap: nowrap;
  transition: 0.3s ease-in-out;
}
.logo span {
  color: black;
}
.logo:hover {
  transform: scale(1.1);
}
.nav-links {
  display: flex;
  gap: 2rem;
}
li {
  color: black;
  list-style-type: none;
}
li a {
  position: relative;
  color: black;
  font-weight: 300;
}
li a::before {
  position: absolute;
  content: "";
  color: black;
  width: 0;
  height: 5px;
  left: 0;
  top: 25px;
  border-radius: 1rem;
  transition: 0.3s ease-in-out;
  background: linear-gradient(
    to right,
    313deg,
    rgba(191, 207, 187, 1) 20%,
    rgba(10, 139, 69, 1) 47%,
    rgba(15, 175, 111, 1) 100%
  );
}
li a:hover::before {
  width: 100%;
}
.visitBtn {
  padding: 0.8rem 1.5rem;
  border-radius: 3rem;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  color: var(--text-color);
  cursor: pointer;
  text-wrap: nowrap;
  transition: 0.3s ease-in-out;
  background: linear-gradient(
    0deg,
    rgba(22, 77, 14, 1) 33%,
    rgba(38, 130, 79, 1) 77%,
    rgba(50, 240, 164, 1) 100%
  );
}
.visitBtn:hover {
  background: linear-gradient(
    180deg,
    rgba(22, 77, 14, 1) 33%,
    rgba(38, 130, 79, 1) 77%,
    rgba(50, 240, 164, 1) 100%
  );
  transform: scale(1.03);
}
#menu-icon {
  font-size: 2rem;
  display: none;
}

section {
  min-height: 100vh;
  padding: 8rem 12%;
  width: 100%;
  position: relative;
}
.intro {
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro .about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.container {
  position: relative;
  width: 50%;
}
.about-container img {
  width: 30vw;
  border-radius: 20%;
  display: block;
}
.container:hover .overlay {
  opacity: 0.7;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border-radius: 20%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: var(--medium-green-color);
}
.overlay-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.info-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.info-box h3 {
  font-size: 1.8rem;
  font-weight: 500;
  opacity: 0.8;
}
.info-box h1 {
  font-size: 4rem;
  font-weight: 600;
}
.info-box p {
  color: #bfcfbb;
  font-size: 2rem;
}
.btn-group {
  display: flex;
  gap: 1rem;
}
.btn {
  border-radius: 3rem;
  padding: 0.5rem 1.5rem;
  border: 2px solid white;
  cursor: pointer;
  font-weight: 500;
  text-wrap: nowrap;
  transition: 0.2s ease-in-out;
}
.btn:hover {
  background: linear-gradient(
    180deg,
    rgba(22, 77, 14, 1) 33%,
    rgba(38, 130, 79, 1) 77%,
    rgba(50, 240, 164, 1) 100%
  );
  transform: scale(1.03);
}
.socials {
  display: flex;
  gap: 2rem;
}
.socials i {
  font-size: 3.5rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.socials i:hover {
  transform: scale(1.2);
}
.section-title {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 3rem;
}
/* projects */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}
.project-card,
.skills-box {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
  border: 2px solid black;
  border-radius: 3rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.project-card:hover,
.skills-box:hover,
.skills-box:hover .skills-icons img {
  background-color: black;
  color: white;
  transform: translateY(-10px) scale(1.02);
  filter: grayscale(0%);
}
.project-card img {
  width: 20vw;
  border-radius: 1rem;
}
.project-card:hover .btn {
  border: 2px solid white;
  color: white;
}
.project-card:hover .btn:hover {
  border: 2px solid white;
  background-color: white;
  color: black;
}
.project-card h3 {
  font-size: 2rem;
  font-weight: 500;
}
/* skills */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 5rem;
  justify-content: center;
  align-items: center;
}
.skills-title {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: left;
}
.skills-details {
  text-align: left;
  font-size: 1.5rem;
}
.skills-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.skills-icons img {
  height: 100px;
  filter: grayscale(100%);
  transition: 0.2s ease-in-out;
}

/* contact*/
.input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  margin-top: 5rem;
}
.input-box input {
  border-radius: 3rem;
  border: 2px solid black;
  padding: 2rem 8rem;
  font-size: 3rem;
}
.input-box input::placeholder {
  font-size: 3rem;
}
.input {
  position: relative;
}
.input i {
  color: var(--darkest-green-color);
  position: absolute;
  font-size: 4rem;
  top: 50%;
  left: 10px;
  transform: translate(50%, -50%);
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form {
  border: 2px solid black;
  padding: 3rem 2rem;
  border-radius: 3rem;
}
form label {
  font-size: 2rem;
  font-weight: 500;
  margin: 4rem 0;
}
form input,
form textarea {
  font-size: 1rem;
  padding: 0.7rem;
  border-radius: 3rem;
  border: 2px solid black;
}
/* footer*/
footer {
  bottom: 0;
  left: 0;
  height: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
footer ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}
footer ul li a {
  color: white;
  font-weight: 600;
}
.copyright {
  font-size: 300;
  margin-top: 2rem;
}
